@model URLEntryMVC.ViewModel.AccountVM.RegisterViewModel
<div class="col-xl">
    <div class="card mb-4">
        <div class="card-body">
            <ul style="display:none" id="errorUl">
                <li id="errorMsg" class="text-danger"></li>
            </ul>
            <form id="addUserForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label><span style="color:red"> *</span>
                    <input asp-for="UserName" class="form-control" autocomplete="off" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label><span style="color:red"> *</span>
                    <input asp-for="Email" class="form-control" autocomplete="off" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><span style="color:red"> *</span>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label><span style="color:red"> *</span>
                    <input asp-for="ConfirmPassword" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Select Role</label><span style="color:red"> *</span>
                    <select id="roleList" class="form-control" asp-for="RoleName" asp-items="@(new SelectList(Model.RolesList, "RoleName", "RoleName"))" onchange="ChangeRole(this)" required>
                        <option value="">Select Role</option>
                    </select>
                    <input type="hidden" asp-for="RoleName" />
                    @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger", id="selectRoleError" })
                </div>
                <div class="form-group" style="display:none" id="customerDiv">
                    <label>Select Customer</label><span style="color:red"> *</span>
                    <select id="customersList" class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Model.CustomerList, "CustomerId", "CustomerName"))">
                        <option value="">Select Customer</option>
                    </select>
                    <input type="hidden" asp-for="CustomerId" />
                    @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger", id="selectCustomerError" })
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function ChangeRole(obj) {
        var selectedRole = $("#roleList").val();
        if (selectedRole == "Customer") {
            $("#customerDiv").show();
            $("#customersList").prop('required',true);
        }
        else if (selectedRole == "Admin") {
            $("#customerDiv").hide();
            $("#customersList").val('');
            $("#customersList").prop('required',false);
        }
    };
    $("#saveBtn").click(function() {
        $('#errorUl').hide();
        $('#errorMsg').html('');
        if ($("#addUserForm").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "Account")',
                dataType: 'json',
                data: $("#addUserForm").serializeArray(),
                beforeSend: function() {
                    $("#logoLoader").fadeIn();
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    $("#logoLoader").fadeOut();
                    if (obj.isSuccessfull == 0) {
                        $('#errorUl').show();
                        $('#errorMsg').html(obj.errors[0]);
                    }
                    else if (obj.isSuccessfull == 1) {
                        location.reload(true);
                    }
                }
            })
        }
    });
</script>