@model URLEntryMVC.ViewModel.UrlVM.SaveUrlVM
<div class="card mb-4">
    <h5 class="card-header">Business Review Points</h5>
    <div class="card-body">
        <table class="table table-bordered" id="reviewPtTbl">
            <thead>
                <tr class="fw-bolder text-muted bb-none" style="background-color: var(--bg-200)">
                    @*<th>TITLE</th>*@
                    <th>POINT URL</th>
                    <th>TIME DELAY(In Minutes)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.businessReviewPoints != null)
                {
                    @for (int i = 0; i < Model.businessReviewPoints.Count(); i++)
                    {
                        <tr>
                            
                            @*@Html.EditorFor(m=>m.businessReviewPoints[i].BusinessPointId,new { htmlAttributes = new { @class = "form-control", @id = "BrPointId_" + i,@style="display:none" } })*@
                            @*<td>
                                @Model.businessReviewPoints[i].UrlName
                            </td>*@
                            <td>
                                <select id="customersList" class="form-control" asp-for="@Model.businessReviewPoints[i]" asp-items="@(new SelectList(Model.businessReviewPoints, "CustomerId", "CustomerName"))" required>
                                    <option value="">--Select Business Review Point--</option>
                                </select>
                            </td>
                            <td>
                                @Html.EditorFor(m=>m.businessReviewPoints[i].DelayTimeInMinuts,new { htmlAttributes = new { @class = "form-control", @id = "timeDelay_" + i } })
                                <span asp-validation-for="@Model.businessReviewPoints[i].DelayTimeInMinuts" class="text-danger" id="errortimeDelay_@i"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>