@model URLEntryMVC.ViewModels.UrlVM
<form id="updateUrlForm">
<div class="row">
  <div class="col-sm-6">
      <label>URL</label><span style="color:red"> *</span>
      @Html.HiddenFor(m=>m.Id)
      @Html.EditorFor(m => m.UrlLink, new { htmlAttributes = new { @class = "form-control",@required="required"} })
      @Html.ValidationMessageFor(model => model.UrlLink, "", new { @class = "text-danger",id="urlError" })
  </div>
  <div class="col-sm-6">
      <label>Domain Link</label><span style="color:red"> *</span>
      @Html.EditorFor(m => m.DomainLink, new { htmlAttributes = new { @class = "form-control",@required="required",@type="url" } })
      @Html.ValidationMessageFor(m => m.DomainLink, "", new { @class = "text-danger", id="domainError" })
  </div>
<div/>
</form>
<script>
    $("#updateBtn").click(function () {
            if ($("#updateUrlForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateLink", "URL")',
                    dataType: 'json',
                    data: $("#updateUrlForm").serializeArray(),
                    beforeSend: function () {
                          $("#logoLoader").fadeIn();
                    },
                    success: function(data) {
                         $("#logoLoader").fadeOut();
                        if (data == 0) {
                            $('#urlError').text('URL already exist');
                        }
                        else if (data == 1) {
                            location.reload(true);
                        }
                    }
                })
            }
        });
</script>