@model URLEntryMVC.ViewModel.CustomerVM.DeleteCustomerVM
@if (Model.customerPoint != null && Model.customerPoint.Count() > 0)
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                <div class="card-title mb-0">
                    <h5 class="m-0 me-2">Customer Points</h5>
                    <small class="text-muted">Can not delete the customer due to assigned Points!</small>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-striped table-bordered" id="userTbl">
                    <thead>
                        <tr>
                            <th>
                                Customer Point Name
                            </th>
                            <th>
                                Point URL
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.customerPoint)
                        {
                            <tr>
                                <td>
                                    <input class="form-control" value="@item.CustomerPointName" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@item.UrlLink" readonly />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.customerUsers != null && Model.customerUsers.Count() > 0)
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                <div class="card-title mb-0">
                    <h5 class="m-0 me-2">Customer Users</h5>
                    <small class="text-muted">Can not delete the customer due to assigned Users!</small>
                </div>
            </div>
            <div class="table-responsive text-nowrap p-2">
                <table class="table table-striped table-bordered" id="userTbl">
                    <thead>
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Email
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.customerUsers)
                        {
                            <tr>
                                <td>
                                    <input class="form-control" value="@item.UserName" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@item.Email" readonly />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.isDeleted == true)
{
    <div>
        Are you sure you want to delete the Customer?
    </div>
}
<script>
    $(document).ready(function() {
        if ('@Model.isDeleted' == 'False') {
            $('#deleteBtn').hide();
        }
        else{
            $('#deleteBtn').show();
        }
    });
</script>
