@model IEnumerable<URLEntryMVC.ViewModel.CustomerVM.CustomerVM>

<style>
    .error {
        color: red !important;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Customers
            <button type="button" class="btn btn-primary mb-2" id="btnAddNewCustomer">
                <i class="menu-icon tf-icons bx bx-plus-circle"></i>
                Add New Customer
            </button>
        </h5>
        <div class="table-responsive text-nowrap p-2">
            <table class="table table-striped table-bordered" id="customerTbl">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Contact Number
                        </th>
                        <th>
                            Address
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.Id)
                                <a onclick="showCustomerUsers(@item.Id)" href="#" class="link-primary">
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </a>

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" id="btnEditCustomer" onclick="EditCustomer(@item.Id)">
                                    <i class="bx bxs-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnDeleteCustomer" onclick="DeleteCustomer(@item.Id)">
                                    <i class="bx bxs-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*Delet Modal*@
<div class="modal fade" id="DeleteAppModal" tabindex="-1" aria-labelledby="DeleteExampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteExampleModalLabel">Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="DeleteModalBody">
                Are you sure you want to delete the Customer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteBtn">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $('#customerTbl').DataTable();
        var selectedCustomerId = 0;
    });
    $("#btnAddNewCustomer").click(function() {
        $.ajax({
            url: "@Url.Action("SaveCustomer", "Customers")",
            type: 'GET',
            contentType: 'application/json',
            beforeSend: function() {
                $("#logoLoader").fadeIn();
            },
            success: function(obj) {
                $("#logoLoader").fadeOut();
                $('#MainModalLabel').html('Add Customer');
                $('#saveBtn').html('Update');
                $('#MainModalBody').html(obj);
                $('#MainAppModal').modal('show');
            },
        });
    });
    function EditCustomer(id) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("EditCustomer", "Customers")",
            data: { Id: id },
            beforeSend: function() {
                $("#logoLoader").fadeIn();
            },
            success: function(obj) {
                $("#logoLoader").fadeOut();
                $('#MainModalLabel').html('Update Customer');
                $('#MainModalBody').html(obj);
                $('#MainAppModal').modal('show');
            },
            error: (error) => {
                console.log(JSON.stringify(error));
            }
        });
    }
    function DeleteCustomer(id) {
        selectedCustomerId = id;
        $('#DeleteAppModal').modal('show');
    }
    $("#deleteBtn").click(function() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteCustomer", "Customers")',
            data: { Id: selectedCustomerId },
            beforeSend: function() {
                $("#logoLoader").fadeIn();
            },
            success: function(data) {
                $("#logoLoader").fadeOut();
                if (data == 1) {
                    location.reload(true);
                }
            }
        })
    });
    function showCustomerUsers(id) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ShowCustomerUsers", "Customers")",
            data: { Id: id },
            beforeSend: function() {
                $("#logoLoader").fadeIn();
            },
            success: function(obj) {
                $("#logoLoader").fadeOut();
                $('#MainModalLabel').html('Customer Users');
                $('#MainModalBody').html(obj);
                $('#saveBtn').hide();
                $('#MainAppModal').modal('show');
            },
            error: (error) => {
                console.log(JSON.stringify(error));
            }
        });
    }
</script>

